Django
django_heroku
djongo
gunicorn
whitenoise
pytz
dnspython
sqlparse==0.2.4
asgiref
boto3
botocore
django-filter
django-storages
docutils
jmespath
Pillow
python-dateutil
s3transfer
six
urllib3
dj-database-url