<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Home - XM Malls</title>

    <!-- Custom Fonts -->
    <link href="public/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Fontawesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Custom CSS -->
    <link href="public/css/sb-admin-2.css" rel="stylesheet">
    <link href="public/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">


</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center mt-3 mb-4" href="admin_home.html">
                <div class="sidebar-brand-icon">
                    <i class="fas fa-shield-virus fa-5x" style="color: #78d3ab;"></i>
                </div>
                <div class="sidebar-brand-text">Covid-19 Contact Tracing</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="admin_home.html">
                    <i class="fas fa-fw fa-columns"></i>
                    <span>Home</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Dashboard
            </div>

            <!-- Nav Item - Active Charts -->
            <li class="nav-item">
                <a class="nav-link" href="admin_active_dashboard.html">
                    <i class="fas fa-user-check"></i>
                    <span>Active Users</span></a>
            </li>

            <!-- Nav Item - Inactive Charts -->
            <li class="nav-item">
                <a class="nav-link" href="admin_inactive_dashboard.html">
                    <i class="fas fa-user-times"></i>
                    <span>Inactive Users</span></a>
            </li>

            <!-- Nav Item - PUI Charts -->
            <li class="nav-item">
                <a class="nav-link" href="admin_pui_dashboard.html">
                    <i class="fas fa-head-side-virus"></i>
                    <span>PUI Users</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - About -->
            <li class="nav-item">
                <a class="nav-link" href="admin_about.html">
                    <i class="fas fa-info-circle"></i>
                    <span>About</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>


                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">John Anthony Bataller</span>
                                <img class="img-profile rounded-circle" src="public/img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#" data-toggle="modal"
                                    data-target="#accountsettingsModal">
                                    <i class="fas fa-user-cog fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Account Settings
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <div class="row">
                        <!-- Border Left Utilities -->
                        <div class="col-lg-12">
                            <div id="qrcodegeneratedImage" class="QRcodeImage hideContent"></div>
                            <a class="btn  btn-secondary mb-3" href="admin_home.html" role="button"><i
                                    class="fas fa-arrow-left"></i></a>
                            <button type="button" id="deleteBtn" class="btn btn-danger mb-3 floatRight"
                                data-toggle="modal" data-target="#deleteModal"><i class="fa fa-trash"></i></button>
                            <a role="button" class="btn btn-warning mb-3 mr-2 floatRight"><i
                                    class="fas fa-head-side-mask"></i></a>
                            <div class="card my-1 mb-5 border-left-secondary">
                                <div class="card-header">
                                    <h4 class="mt-2">
                                        <i class="fa fa-user fa-sm"></i> User Profile
                                        <div class="custom-control custom-switch " style="float: right;">
                                            <input type="checkbox" class="custom-control-input edit" id="customSwitch">
                                            <label class="custom-control-label" id="switchLabel"
                                                for="customSwitch">Edit</label>
                                        </div>
                                    </h4>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Full Name</label>
                                                <input value="John Anthony Bataller" type="text"
                                                    class="form-control update-form capitalize" name="firstname"
                                                    id="firstname" pattern="[A-Za-z ]{0,}" title="Only Alphabets"
                                                    aria-describedby="FirstName" autocomplete="off" maxlength="50"
                                                    required disabled>
                                            </div>

                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label class="pb-1">Gender</label><br>
                                                <label class="radio-inline pl-4">
                                                    <input class="update-form" type="radio" name="gender" value="male"
                                                        required disabled {{checked user.gender 'male' }}> Male</label>
                                                <label class="radio-inline pl-4">
                                                    <input class="update-form" type="radio" name="gender" value="female"
                                                        required disabled {{checked user.gender 'female' }}>
                                                    Female</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label>Contact Number</label>
                                                <input value="09691432619" type="number"
                                                    class="form-control update-form" name="contact_number"
                                                    id="contactnumber"
                                                    onkeydown="javascript: return event.keyCode == 69 ? false : true && event.keyCode == 189 ? false : true && event.keyCode == 109 ? false : true && event.keyCode == 107 ? false : true && event.keyCode == 187 ? false : true && event.keyCode == 190 ? false : true && event.keyCode == 110 ? false : true"
                                                    maxlength="15" autocomplete="off" required disabled>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label>Email Address</label>
                                                <input value="johnanthonybataller.ce@gmail.com" type="email"
                                                    class="form-control update-form" name="email_address" id="email"
                                                    autocomplete="off" required disabled>
                                            </div>
                                        </div>

                                        <div class="col-lg-12">

                                            <div class="form-group">
                                                <label>Home Address</label>
                                                <textarea class="form-control update-form capitalize"
                                                    name="home_address" id="homeaddress" rows="4" maxlength="150"
                                                    autocomplete="off" required disabled
                                                    oninvalid="this.setCustomValidity('Please Enter your Address here')"
                                                    oninput="this.setCustomValidity('')">246 C Recuerdo Street Brgy. 275 Binondo Manila</textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group mt-3">
                                                <button class="btn btn-success btn-update" type="submit">
                                                    <i class="fa fa-user"></i> Update User
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Modal -->
                                    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
                                        aria-labelledby="exampleModalLabel aria-hidden=" true" data-backdrop="static"
                                        data-keyboard="false""
                                 aria-hidden=" true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Delete User?</h5>
                                                    <!-- <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                             <span aria-hidden="true">×</span>
                                             </button> -->
                                                </div>
                                                <div class="modal-body">Are you sure you want to delete this user?</div>
                                                <div class="modal-footer">
                                                    <button id="deleteModalClose" class="btn btn-dark" type="button"
                                                        data-dismiss="modal">No</button>
                                                    <a class="btn btn-danger" id="deleteUserDB"
                                                        data-idnum={{user._id}}>Yes</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- History Log -->
                        <div class="col-lg-12">
                            <!-- DataTales Example -->
                            <div class="card shadow mb-4">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>Contact No.</th>
                                                    <th>Name</th>
                                                    <th>Branch</th>
                                                    <th>Store</th>
                                                    <th>Date</th>
                                                    <th>Time-in</th>
                                                    <th>Time-out</th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    <th>Contact No.</th>
                                                    <th>Name</th>
                                                    <th>Branch</th>
                                                    <th>Store</th>
                                                    <th>Date</th>
                                                    <th>Time-in</th>
                                                    <th>Time-out</th>
                                                </tr>
                                            </tfoot>
                                            <tbody>
                                                <tr>
                                                    <td>09691432619</td>
                                                    <td>John Anthony Bataller</td>
                                                    <td>Manila</td>
                                                    <td>National Bookstore</td>
                                                    <th>October 11, 2021</th>
                                                    <td>10:03 AM</td>
                                                    <td>10:48 AM</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <!-- /.container-fluid -->

                </div>
                <!-- End of Main Content -->

                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; XM Malls 2021</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Account Settings Modal -->
        <div class="modal fade" id="accountsettingsModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-lock"></i> Change Password</h5>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Old Password</label>
                                <input type="password" class="form-control" id="oldClientPassword">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">New Password</label>
                                <input type="password" class="form-control" id="newClientPassword">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Confirm Password</label>
                                <input type="password" class="form-control" id="confirmClientPassword">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn" style="background-color: #57CC99; color: white;">Save
                            changes</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn" href="login.html" style="background-color: #FF7878; color: white;">Logout</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap core JavaScript-->
        <script src="public/vendor/jquery/jquery.min.js"></script>
        <script src="public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="public/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="public/js/sb-admin-2.min.js"></script>

        <!-- Page level plugins -->
        <script src="public/vendor/datatables/jquery.dataTables.min.js"></script>
        <script src="public/vendor/datatables/dataTables.bootstrap4.min.js"></script>

        <!-- Page level custom scripts -->
        <script src="public/js/demo/datatables-demo.js"></script>

</body>

</html>