{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Home - XM Malls</title>

    {% include 'header.html' %}


</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <!-- Sidebar - Brand -->
            <a class="
              sidebar-brand
              d-flex
              align-items-center
              justify-content-center
              mt-3
              mb-4
              " href="/admin_home">
                <div class="sidebar-brand-icon">
                    <i class="fas fa-shield-virus fa-5x" style="color: #78d3ab"></i>
                </div>
                <div class="sidebar-brand-text">Covid-19 Contact Tracing</div>
            </a>
            <!-- Divider -->
            <hr class="sidebar-divider my-0" />
            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="/admin_home">
                    <i class="fas fa-fw fa-columns"></i>
                    <span>Home</span></a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider" />
            <!-- Heading -->
            <div class="sidebar-heading">Dashboard</div>
            <!-- Nav Item - All User Charts -->
            <li class="nav-item active">
                <a class="nav-link" href="/admin_users">
                    <i class="fas fa-users"></i>
                    <span>Users</span></a>
            </li>
            <!-- Nav Item - PUI Charts -->
            <li class="nav-item">
                <a class="nav-link" href="/admin_pui">
                    <i class="fas fa-head-side-mask"></i>
                    <span>PUI Users</span></a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider" />
            <!-- Nav Item - About -->
            <li class="nav-item">
                <a class="nav-link" href="/admin_about">
                    <i class="fas fa-info-circle"></i>
                    <span>About</span></a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block" />
            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>


                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <div class="topbar-divider d-none d-sm-block"></div>
                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ client_name }}</span>
                                <img class="img-profile rounded-circle" src="{% static '/img/undraw_profile.svg' %}">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a id="downloadImageBtn" class="dropdown-item" href="#">
                                    <i class="fas fa-qrcode fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Download QR Code
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>


                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <div class="row">
                        <!-- Border Left Utilities -->
                        <div class="col-lg-12">

                            <a class="btn  btn-secondary mb-3" href="/admin_users" role="button"><i
                                    class="fas fa-arrow-left"></i></a>
                            <!-- <button type="button" id="deleteBtn" class="btn btn-danger mb-3 floatRight"
                                data-toggle="modal" data-target="#deleteModal"><i class="fa fa-trash"></i></button> -->
                            {% if response != "pui" %}
                            <a href="#" data-toggle="modal" data-target="#puiModal"
                                class="btn btn-warning mb-3 mr-2 floatRight"><i class="fas fa-head-side-mask"></i></a>
                            {% else %}
                            <a href="#" data-toggle="modal" data-target="#activeModal"
                                class="btn btn-info mb-3 mr-2 floatRight"><i class="fas fa-child"></i></a>
                            {% endif %}
                            <div class="card my-1 mb-5 border-left-secondary">
                                <div class="card-header">
                                    <h4 class="mt-2">
                                        {% if response != "pui" %}
                                        <i class="fa fa-user fa-sm"></i> User Profile
                                        {% else %}
                                        <i class="fa fa-user fa-sm"></i> User Profile <div style="color: #f8de8f; display: inline-block;">(<i class="fas fa-head-side-mask"></i>PUI)</div>
                                        {% endif %}
                                        <div class="custom-control custom-switch " style="float: right;">
                                            <input type="checkbox" class="custom-control-input edit" id="editSwitch">
                                            <label class="custom-control-label" id="switchLabel"
                                                for="editSwitch">Edit</label>
                                        </div>
                                    </h4>
                                </div>
                                <form method="POST" onsubmit="updateBtnSpinner()">
                                    {% csrf_token %}
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Full Name</label>
                                                    <input value="{{user_info.full_name}}" type="text"
                                                        class="form-control update-form capitalize" name="full_name"
                                                        id="full_name" pattern="[A-Za-z ]{0,}" title="Only Alphabets"
                                                        aria-describedby="full_name" autocomplete="off" maxlength="50"
                                                        required disabled>
                                                </div>
                                            </div>

                                            {% if gender == "male" %}
                                            <div class="col-lg-2">
                                                <div class="form-group">
                                                    <label class="pb-1">Gender</label><br>
                                                    <label class="radio-inline pl-4">
                                                        <input id="maleRBTN" class="update-form" type="radio"
                                                            name="gender" value="male" required disabled checked>
                                                        Male</label>
                                                    <label class="radio-inline pl-4">
                                                        <input id="femaleRBTN" class="update-form" type="radio"
                                                            name="gender" value="female" required disabled>
                                                        Female</label>
                                                </div>
                                            </div>
                                            {% else %}
                                            <div class="col-lg-2">
                                                <div class="form-group">
                                                    <label class="pb-1">Gender</label><br>
                                                    <label class="radio-inline pl-4">
                                                        <input id="maleRBTN" class="update-form" type="radio"
                                                            name="gender" value="male" required disabled> Male</label>
                                                    <label class="radio-inline pl-4">
                                                        <input id="femaleRBTN" class="update-form" type="radio"
                                                            name="gender" value="female" required disabled checked>
                                                        Female</label>
                                                </div>
                                            </div>
                                            {% endif %}

                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <label>Contact Number</label>
                                                    <input value={{user_info.contact_number}} type="number"
                                                        class="form-control update-form" name="contact_number"
                                                        id="contact_number"
                                                        onkeydown="javascript: return event.keyCode == 69 ? false : true && event.keyCode == 189 ? false : true && event.keyCode == 109 ? false : true && event.keyCode == 107 ? false : true && event.keyCode == 187 ? false : true && event.keyCode == 190 ? false : true && event.keyCode == 110 ? false : true"
                                                        maxlength="15" autocomplete="off" required disabled>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <label>Email Address</label>
                                                    <input value={{user_info.email_address}} type="email"
                                                        class="form-control update-form" name="email_address"
                                                        id="email_address" autocomplete="off" required disabled>
                                                </div>
                                            </div>

                                            <div class="col-lg-12">

                                                <div class="form-group">
                                                    <label>Home Address</label>
                                                    <textarea class="form-control update-form capitalize"
                                                        name="home_address" id="home_address" rows="4" maxlength="150"
                                                        autocomplete="off" required disabled
                                                        oninvalid="this.setCustomValidity('Please Enter your Address here')"
                                                        oninput="this.setCustomValidity('')">{{user_info.home_address}}</textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group mt-3">
                                                    <button class="btn btn-success btn-update" type="submit"
                                                        id="updateBtn" style="display: none;">
                                                        <i class="fa fa-user"></i> Update User
                                                    </button>

                                                    <button id="updateSpinner" class="btn btn-success" type="button"
                                                        style="display: none;" disabled>
                                                        <span class="spinner-border spinner-border-sm" role="status"
                                                            aria-hidden="true"></span>
                                                        Updating...
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <!-- History Log -->
                        <div class="col-lg-12">
                            <!-- Page Heading -->
                            <h1 class="h3 mb-2 text-gray-800">History Logs</h1>

                            <!-- DataTales Example -->
                            <div class="card shadow mb-4">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>Branch</th>
                                                    <th>Location</th>
                                                    <th>Date</th>
                                                    <th>Time-in</th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    <th>Branch</th>
                                                    <th>Location</th>
                                                    <th>Date</th>
                                                    <th>Time-in</th>
                                                </tr>
                                            </tfoot>
                                            <tbody>
                                                {% for user in user_history %}
                                                <tr>
                                                    <td>{{user.branch}}</td>
                                                    <td>{{user.location}}</td>
                                                    <td>{{user.date}}</td>
                                                    <td>{{user.time_in}}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.container-fluid -->

                    <div id="qrcodegeneratedImage" class="QRcodeImage" style="display: none;"></div>
                    <span id="idnumber" style="display: none;">{{client_id}}</span>
                    <span id="fullNameofUser" class="hideContent" data-filename="{{client_name}}"
                        style="display: none;">{{client_name}}</span>

                    <!-- PUI Modal-->
                    <div class="modal fade" id="puiModal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static"
                        data-keyboard="false">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">PUI User?</h5>
                                </div>
                                <div class="modal-body">Are you sure you want to mark this user as PUI?</div>
                                <div class="modal-footer">
                                    <button id="cancelPuiBtn" class="btn btn-secondary" type="button"
                                        data-dismiss="modal">Cancel</button>
                                    <a id="puiBtn" class="btn" href="{% url 'admin_user_pui' user_info.contact_number %}""
                                        style="background-color: #ffc107; color: white;">Yes</a>

                                    <button id="puiSpinner" class="btn" type="button"
                                        style="background-color: #ffc107; color: white; display: none;" disabled>
                                        <span class="spinner-border spinner-border-sm" role="status"
                                            aria-hidden="true"></span>
                                        updating...
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Active Modal-->
                    <div class="modal fade" id="activeModal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static"
                        data-keyboard="false">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Active User?</h5>
                                </div>
                                <div class="modal-body">Are you sure you want to mark this user as Active?</div>
                                <div class="modal-footer">
                                    <button id="cancelPuiBtn" class="btn btn-secondary" type="button"
                                        data-dismiss="modal">Cancel</button>
                                    <a id="puiBtn" class="btn" href="{% url 'admin_user_active' user_info.contact_number %}""
                                        style="background-color: #07a4ff; color: white;">Yes</a>

                                    <button id="puiSpinner" class="btn" type="button"
                                        style="background-color: #07a4ff; color: white; display: none;" disabled>
                                        <span class="spinner-border spinner-border-sm" role="status"
                                            aria-hidden="true"></span>
                                        updating...
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- End of Main Content -->

                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; XM Malls 2021</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        {% include 'footer.html' %}
        
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <!-- Edit Switch -->
        <script>
            let editSwitch = document.querySelector("#editSwitch")
            let updateBtn = document.querySelector("#updateBtn")

            let full_name = document.querySelector("#full_name")
            let maleRBTN = document.querySelector("#maleRBTN")
            let femaleRBTN = document.querySelector("#femaleRBTN")
            let home_address = document.querySelector("#home_address")
            let email_address = document.querySelector("#email_address")


            editSwitch.addEventListener("change", (e) => {
                const event = e.target.checked;
                if (event == true) {
                    updateBtn.style.display = "block";
                    full_name.removeAttribute("disabled")
                    maleRBTN.removeAttribute("disabled")
                    femaleRBTN.removeAttribute("disabled")
                    home_address.removeAttribute("disabled")
                    email_address.removeAttribute("disabled")
                }
                else {
                    updateBtn.style.display = "none";
                    full_name.setAttribute("disabled", true)
                    maleRBTN.setAttribute("disabled", true)
                    femaleRBTN.setAttribute("disabled", true)
                    home_address.setAttribute("disabled", true)
                    email_address.setAttribute("disabled", true)

                }
            });


        </script>

        <!-- Update Spinner -->
        <script>
            let update_Btn = document.querySelector("#updateBtn")
            let updateSpinner = document.querySelector("#updateSpinner")

            function updateBtnSpinner() {
                update_Btn.style.display = "none";
                updateSpinner.style.display = "block";
            }
        </script>

        {% if response == 'success' %}
        <script>
            iziToast.success({
                title: "Updated",
                message: "The User information has been updated successfully",
                position: "topCenter",
                timeout: 3000,
            });
        </script>
        {% endif %}

        {% if response == 'pui' %}
        <script>
            Swal.fire('ALERT!', 'This User is a PUI User.', 'warning')
        </script>
        {% endif %}

        {% if response == 'active' %}
        <script>
            iziToast.success({
                title: "Hurray!",
                message: "This User is now an active user. ",
                position: "topCenter",
                timeout: 5000,
            });
        </script>
        {% endif %}
</body>

</html>