{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard - XM Malls</title>

    {% include 'header.html' %}

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center mt-3 mb-4"
                href="/client_dashboard">
                <div class="sidebar-brand-icon">
                    <i class="fas fa-shield-virus fa-5x" style="color: #78d3ab;"></i>
                </div>
                <div class="sidebar-brand-text">Covid-19 Contact Tracing</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="/client_dashboard">
                    <i class="fas fa-fw fa-columns"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Contact Us -->
            <li class="nav-item">
                <a class="nav-link" href="/client_contact">
                    <i class="far fa-envelope"></i>
                    <span>Contact Us</span></a>
            </li>

            <!-- Nav Item - About -->
            <li class="nav-item">
                <a class="nav-link" href="/client_about">
                    <i class="fas fa-info-circle"></i>
                    <span>About</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                {% include 'topbar.html' %}

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800" id="greetings">Hi {{client_name}}</h1>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Branch</th>
                                            <th>Store</th>
                                            <th>Date</th>
                                            <th>Time-in</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Branch</th>
                                            <th>Store</th>
                                            <th>Date</th>
                                            <th>Time-in</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for user in user_log %}
                                        <tr>
                                            <td>{{user.branch}}</td>
                                            <td>{{user.location}}</td>
                                            <td>{{user.date}}</td>
                                            <td>{{user.time_in}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

                <div id="qrcodegeneratedImage" class="QRcodeImage" style="display: none;"></div>
                <span id="idnumber" style="display: none;">{{client_id}}</span>
                <span id="fullNameofUser" class="hideContent" data-filename="{{client_name}}" style="display: none;">{{client_name}}</span>

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; XM Malls 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrappser -->

    {% include 'footer.html' %}

</body>

</html>